@{
    ViewBag.Title = ViewBag.Presentation.Title;
}

<h2>@ViewBag.Presentation.Title</h2>

<div id="presentation-slides">
    <ul>
        @for (var slide = 1; slide < Model.QtdSlides; slide++ )
        {
            <li><img src="@Url.Content(string.Format("~/Slides/{0}/slide{1}.png", ViewBag.Presentation.Id, slide))" /></li>
        }
    </ul>
    
    @if (ViewBag.Attendee.Speaker)
    {
        <div id="controls">
            <li><a>Previous</a></li>
            <li><strong id="current">0</strong>/@ViewBag.Presentation.QtdSlides</li>
            <li><a>Next</a></li>
        </div>
    }
</div>
