@model dynamic

@{
    ViewBag.Title = @Model.Presentation.Title;
}

<h2>@Model.Title</h2>

<div id="presentation-slides">
    <ul>
        @foreach (var slide in Model.Presentation.QtdSlides)
        {
            <li><img src="@Url.Content(string.Format("~/Slides/{0}/slide{1}.png", Model.Id, slide))" /></li>
        }
    </ul>
    
    @if(Model.Attendee.Speaker)
    {
        <div id="controls">
            <li><a>Previous</a></li>
            <li><strong id="current">0</strong>/@Model.Presentation.QtdSlides</li>
            <li><a>Next</a></li>
        </div>
    }
</div>
