*{
    margin:0;
    padding:0;
    }
    
ul{
    list-style-type: none;
    }

body{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend{
    font-size:1.2em;
    font-weight: bold;
}

textarea{
    min-height: 75px;
}

.editor-label{
    margin: 1em 0 0 0;
}

.editor-field{
    margin:0.5em 0 0 0;r
}

input[type="submit"]
{
    padding:10px;
    }


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#main-container
{
    margin:15px;
    }

#tabs li
{
    display:inline-block;    
    border:solid 1px #c0c0c0;
    border-bottom:0;
    border-top-left-radius:10px;
    -webkit-box-shadow:-2px -2px 5px #c0c0c0;
    padding:10px;
    }
    
#tabs-container
{
    border:solid 1px #c0c0c0;
    -webkit-box-shadow:2px 2px 5px #c0c0c0;
    padding:10px;
    }

#container-slides li
{
    display:inline-block;
    margin:10px;
    }

    #container-slides li img
    {
        width:250px;
        height:250px;
        }
        
.container-botoes
{
    margin-top:10px;
    }
    
.container-attendees
{
    margin:10px;
    }
    
    .container-attendees ul li
    {
        margin:5px;
        }

.attendee img, .speaker img
{
    margin-right:6px;
    }
    
.attendee img
{
    -webkit-box-shadow:2px 2px #c0c0c0;
    }
    
.speaker img
{
    -webkit-box-shadow:2px 2px #F5B811;
    } 